<%- include('includes/head') %>
<%- include('includes/nav') %>
<main>
    <div class="main-container">
        <h1>Agenda</h1>
        <p>Seus contatos estão abaixo.</p>

        <%- include('includes/msg') %>
        
        <% if(user){ %>
            <%- include('includes/btnMenu') %>
            <% } %>

        <table class="table">
            
            
            <tr>
                <th>Nome</th>
                <th>Sobrenome</th>
                <th>E-mail</th>
                <th>Telefone</th>
                <th>Editar</th>
            </tr>

            <% contacts.forEach(contact => { %> 

                <tr>
                    <td><%= contact.name %></td>
                    <td><%= contact.lastName %></td>
                    <td><%= contact.email %></td>
                    <td><%= contact.telephone %></td>
                    <td><div class="table-btn">
                        <a href="/contact/<%=contact._id %>"><i class="material-icons">edit</i></a>
                        <a href="/contact/delete/<%=contact._id %>"><i class="material-icons">delete</i></a>
                    </div></td>

                </tr>

            <% }) %>
            

            
        </table>

    </div>
</main>
    
<%- include('includes/footer') %>