<%- include('includes/head') %>
<%- include('includes/nav') %>
<main>
    <div class="main-container">
        <h1>Minha Agenda</h1>
        <h2>Bem vindo <%= user.email%></h2>

        <%- include('includes/msg') %>
    </div>
</main>
    
<%- include('includes/footer') %>