<%- include('includes/head') %>
<%- include('includes/nav') %>
<main>
    
        

        

        <div class="register-container">
            <h1>Minha Agenda</h1>
            <%- include('includes/msg') %>

            <!-- Register -->
            <form class="form-container" action="/register/register" method="POST">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <h2>Cadastre-se</h2>
                <p>Ainda não tem conta? Cadastre-se agora.</p>

                <div class="input-container">
                    <label>Usuário</label>
                    <input type="text" placeholder="Usuário" name="user" autocomplete="off">
                </div>

                <div class="input-container">
                    <label>Seu Email</label>
                    <input type="email" placeholder="Email" name="email">
                </div>

                <div class="input-container">
                    <label>Sua senha</label>
                    <input type="password" placeholder="Senha" name="password">
                </div>

                <div class="input-container">
                    <label>Confirmar senha</label>
                    <input type="password" placeholder="Confirmar Senha" name="confirmPassword">
                </div>
                <button class="main-btn">Criar Conta</button>

            </form>

        </div>

    
</main>
    
<%- include('includes/footer') %>